apiVersion: v1
kind: Namespace
metadata:
  name: falco-dev-mem-demo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: falco-gpu-amd
  namespace: falco-dev-mem-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: falco-gpu-amd
  template:
    metadata:
      labels:
        app: falco-gpu-amd
    spec:
      containers:
      - name: busybox
        image: busybox
        command: ["/bin/sh", "-c", "sleep 3600"]
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: falco-gpu-nvidia
  namespace: falco-dev-mem-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: falco-gpu-nvidia
  template:
    metadata:
      labels:
        app: falco-gpu-nvidia
    spec:
      containers:
      - name: busybox
        image: busybox
        command: ["/bin/sh", "-c", "sleep 3600"]

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: falco-cpu
  namespace: falco-dev-mem-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: falco-cpu
  template:
    metadata:
      labels:
        app: falco-cpu
    spec:
      containers:
      - name: busybox
        image: busybox
        securityContext:
          privileged: true
        command:
          - /bin/sh
          - -c
          - |
            echo "[+] creating fake memory file in /tmp"
            dd if=/dev/urandom of=/tmp/mem bs=1K count=4
            echo "[+] reading /tmp/mem in a loop"
            while true; do
              cat /tmp/mem > /dev/null
              sleep 10
            done
