apiVersion: v1
kind: ServiceAccount
metadata:
  name: hello-world
---
apiVersion: v1
kind: Service
metadata:
  name: hello-world
  labels:
    app: hello-world
    service: hello-world
spec:
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    app: hello-world
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hello-world
      version: v1
  template:
    metadata:
      labels:
        app: hello-world
        version: v1
    spec:
      serviceAccountName: hello-world
      containers:
      - image: docker.io/testcontainers/helloworld:1.3.0
        imagePullPolicy: IfNotPresent
        name: hello-world
        ports:
        - containerPort: 8080